<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.0">
    <!-- Project for Dialogue Systems -->
    <!-- No match prompts -->
    <nomatch>
        To start the game, say "start".
        <reprompt />
    </nomatch>
    <noinput>
        I didn't hear that.
        <reprompt />
    </noinput>
    <!-- Menu -->
    <menu id="mainmenu">
        <prompt>
            Welcome. Say "start" if you want to begin a new game or "quit" if you want to exit.
        </prompt>
        <choice next="game"> start</choice>
        <choice next="exit#intro"> exit</choice>
    </menu>
</vxml>