<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.0">
    <!-- Project for Dialogue Systems -->
    <!-- No match prompts -->
    <nomatch>
        To start the game, say "start".
        <reprompt />
    </nomatch>
    <noinput>
        I didn't hear that.
        <reprompt />
    </noinput>
    <!-- Menu -->
    <goto next="game#intro"/>
    <menu id="mainmenu" accept="approximate">
        <prompt>
            Say <emphasis>"start"</emphasis> if you want to begin a new game or <emphasis>"quit"</emphasis> if you want to quit the game.
        </prompt>
        
        <choice next="game#intro"> start</choice>
        <choice next="exit"> quit</choice>
    </menu>
</vxml>